<div class="page c f1">

  <div class="app-mode r">
    <form class="mode-form r f1">
      &nbsp;&nbsp;Simulation Name&nbsp;
      <input type="text" placeholder="Simulation Name" [(ngModel)]="simulation.simulationName" name="sname"/>
      &nbsp;&nbsp;Rebalancing Mode&nbsp;
      <select name="rebalancingMode" [(ngModel)]="simulation.rebalancingMode">
        <option value="single">Single Method</option>
        <option value="multiple">Methods Comparison</option>
      </select>
      &nbsp;&nbsp;
      <!-- &nbsp;&nbsp;Date Sensitive&nbsp;
      <select name="rebalancingMode" [(ngModel)]="simulation.rebalancingMode">
        <option value="single">Specific Start Date</option>
        <option value="multiple">Date Independent</option>
        <option value="multiple">Data Contains Date Info</option>
      </select>
      &nbsp;&nbsp; -->
    </form>
  </div>
  <div class="app-mode r">
    <form class="mode-form r f1">
      <span *ngIf="simulation.rebalancingMode == 'single'">
          &nbsp;&nbsp;Rebalancing Method&nbsp;
          <input type="text" placeholder="Rebalancing Method" [(ngModel)]="simulation.rebalancingMethod" name="smethod"/>
      </span>
      &nbsp;&nbsp;Mode&nbsp;
      <select name="simulationType" [(ngModel)]="simulation.simulationType">
        <option value="manual">Manual Simulation</option>
        <option value="batch">Batch Simulation</option>
      </select>
      &nbsp;&nbsp;Period&nbsp;
      <select name="period" [(ngModel)]="simulation.period">
        <option value="1D">1 Day</option>
        <option value="3D">3 Day</option>
        <option value="1W">1 Week</option>
        <option value="2W">2 Week</option>
        <option value="1W">1 Month</option>
        <option value="1Q">1 Quarter</option>
        <option value="2Q">2 Quarter</option>
        <option value="1Y">1 Year</option>
      </select>
      &nbsp;&nbsp;Start Date&nbsp;
      <input type="date"  [(ngModel)]="simulation.startDate"  name="start-date"/>
      
      <div class="f1"></div>
      <button (click)="initializeSimulation()">Confirm</button>
      &nbsp;&nbsp;
      <!-- <button (click)="crawl()">Crawl</button> -->
    </form>
  </div>
  <div class="spray-caption c" *ngIf="!configStatus">
    <br>
    <br>
    <h1>configure simulation settings</h1>
  </div>
  <div class="app-main f1 r" *ngIf="configStatus">
    <div class="app-panel c f1" *ngIf="simulation.simulationType == 'manual'">
      <div class="step r">
        <b>Manual Import Panel</b>
      </div>
      <div class="step r">
        Market Returns
        <div class="f1"></div>
        <button (click)="updateReturns()">Import</button>
      </div>
      <div class="step r">
        Private Deals
        <div class="f1"></div>
        <button (click)="updatePrivateDeals()">Import</button>
      </div>
      <div class="step r">
        Rebalancing Deals
        <div class="f1"></div>
        <button (click)="updateRebalancingDeals()">Import</button>
      </div>
    </div>
    <div class="app-body c f2">
      <div class="f162 c ofys">

        <table>
          <tr>
            <th>Asset Type</th>
            <th>Asset Name</th>
            <th>Asset Status</th>
            <th>Beta</th>
            <th>ROI</th>
            <th>Expct. ROI</th>
            <th>Liquidity</th>
            <th>Exposure(M)</th>
            <th *ngIf="dayChange">Day Chg.</th>
          </tr>
          <tr *ngFor="let s of portfolio.securities"  [ngClass]="{'new-deal' : s.newDeal, 'sold-deal': s.soldDeal}">
            <td class="ac">{{s.private ? "private":"public"}}</td>
            <td>{{s.Symbol}} {{s.Issuer}}</td>
            <td>{{s.status}}</td>
            <td class="ar">{{s.risk | number : '1.2-2' }}</td>
            <td class="ar"[ngClass]="{'gain' : s.return > 0, 'loss':s.return < 0}">{{s.return*100 | number : '1.2-2' }}%</td>
            <td class="ar"[ngClass]="{'gain' : s.expectedReturn > 0, 'loss':s.expectedReturn < 0}">{{s.expectedReturn*100 | number : '1.2-2' }}%</td>
            <td class="ar">{{s.liquidity | number : '1.2-2' }}</td>
            <td class="ar">{{s.exposure/1000000| number:'.1'}}</td>
            <td class="ar" class="new-deal ar"  [ngClass]="{'gain' : s.gain, 'loss':!s.gain}" *ngIf="dayChange">{{s.dayChange*100 | number : '1.2-2' }}%</td>
          </tr>
        </table>

      </div>
      <div class="status-panel f1 c ofys">
        <div class="status-msg" *ngFor="let msg of messageQueue">
          {{msg}}
        </div>
      </div>
    </div>
  </div>

  <div class="session-control-panel r">
    <div class="f1"></div>
    <div class="control-action">
        <button>
          <i class="fa fa-pause" aria-hidden="true"></i>
          Pause and Save Endpoints
        </button>
    </div>

    <div class="control-action">
      <button><i class="fa fa-stop-circle-o" aria-hidden="true"></i>
        Terminate</button>
    </div>

    <div class="control-action">
      <button><i class="fa fa-floppy-o" aria-hidden="true"></i>
        Save</button>
    </div>
  </div>
</div>