<div class="app c">
  <div class="app-header r">
    <div class="app-nav">
        CPPIB Total Portfolio Rebalancing Simulator
    </div>

  </div>
  <div class="app-nav-bar r">
    <div class="app-nav">
      Simulation
    </div>
    <div class="app-nav">
      Past Sessions
    </div>
    <div class="app-nav">
      Reports
    </div>
  </div>
  <div class="app-mode r">
    <form class="r">
      &nbsp;&nbsp;Mode:&nbsp;
      <select name="cars">
        <option value="volvo">Manual Simulation</option>
        <option value="saab">Batch Simulation</option>
      </select>
      &nbsp;&nbsp;Period:&nbsp;
      <select name="cars">
        <option value="volvo">1 Day</option>
        <option value="saab">3 Day</option>
        <option value="saab">1 Week</option>
        <option value="saab">2 Week</option>
        <option value="saab">1 Month</option>
        <option value="saab">1 Quarter</option>
        <option value="saab">1 Year</option>
      </select>
      &nbsp;&nbsp;
    </form>
  </div>
  <div class="app-main f1 r">
    <div class="app-panel c f1">
      <div class="step r">
        Market Returns
        <div class="f1"></div>
        <button (click)="updateReturns()">Import</button>
      </div>
      <div class="step r">
        Private Deals
        <div class="f1"></div>
        <button (click)="updatePrivateDeals()">Import</button>
      </div>
      <div class="step r">
        Rebalancing Deals
        <div class="f1"></div>
        <button>Import</button>
      </div>
    </div>
    <div class="app-body c f2">
      <div class="f162 c ofys">

        <table>
          <tr>
            <th>Asset Type</th>
            <th>Asset Name</th>
            <th>Beta</th>
            <th>ROI</th>
            <th>Liquidity</th>
            <th>Exposure(M)</th>
            <th *ngIf="dayChange">Day Chg.</th>
          </tr>
          <tr *ngFor="let s of securities"  [ngClass]="{'new-deal' : s.newDeal}">
            <td class="ac">{{s.private ? "private":"public"}}</td>
            <td>{{s.securityName}}</td>
            <td class="ar">{{s.risk | number : '1.2-2' }}</td>
            <td class="ar"[ngClass]="{'gain' : s.return > 0, 'loss':s.return < 0}">{{s.return*100 | number : '1.2-2' }}%</td>
            <td class="ar">{{s.liquidity | number : '1.2-2' }}</td>
            <td class="ar">{{s.exposure/1000000| number:'.0'}}</td>
            <td class="ar"  [ngClass]="{'gain' : s.gain, 'loss':!s.gain}" *ngIf="dayChange">{{s.dayChange*100 | number : '1.2-2' }}%</td>
          </tr>
        </table>

      </div>
      <div class="status-panel f1 c ofys">
        <div class="status-msg" *ngFor="let msg of messageQueue">
          {{msg}}
        </div>
      </div>
    </div>
  </div>

</div>