<div class="app c">
  <div class="app-header r">
    <div class="app-nav">
        CPPIB Total Portfolio Rebalancing Simulator
    </div>

  </div>
  <div class="app-nav-bar r">
    <a class="app-nav" routerLink="/simulator"  routerLinkActive="active">
      Simulation
    </a>
    <a class="app-nav" routerLink="/simulations"  routerLinkActive="active">
      Past Sessions
    </a>
    <a class="app-nav" routerLink="/reports"  routerLinkActive="active">
      Reports
    </a>
  </div>
  <router-outlet></router-outlet>
</div>