<div class="page c f1 ofys" *ngIf="simulation">
  <div>
      <span class="caption">Simulation Name</span>
      <span class="value">{{simulation.simulationName}}</span>
  
      <span class="caption">Rebalancing Method</span>
      <span class="value">{{simulation.rebalancingMethod}}</span>

      <span class="caption">Created At</span>
      <span class="value">{{simulation.createDate | date: 'medium'}}</span>
  </div>


  <pre>
    {{simulation | json}}
  </pre>

  <div class="chart dark" *ngIf="dataReady" >
      <ngx-charts-line-chart
      [scheme]="colorScheme"
      [results]="data"
      [gradient]="gradient"
      [xAxis]="showXAxis"
      [yAxis]="showYAxis"
      [legend]="showLegend"
      [showXAxisLabel]="showXAxisLabel"
      [showYAxisLabel]="showYAxisLabel"
      [xAxisLabel]="xAxisLabel"
      [yAxisLabel]="yAxisLabel"
      [autoScale]="autoScale"
      (select)="onSelect($event)">
      </ngx-charts-line-chart>
  </div> 

  <table>
    <tr>
      <th>Date</th>
      <th>Expected Return</th>
      <th>Liquidity</th>
      <th>Risk</th>
      <th>Equity Value</th>
      <th>Cash Value</th>
      <th>Total Value</th>
      <th>Num Private</th>
      <th>Num Public</th>
    </tr>
    <tr *ngFor="let p of portfolios">
        <td class="ar">{{p.date}}</td>
        <td class="ar">{{p.expectedReturn*100 | number : '1.2-2' }}%</td>
        <td class="ar">{{p.liquidity | number : '1.2-2' }}</td>
        <td class="ar">{{p.risk | number : '1.2-2' }}</td>
        <td class="ar">{{p.equityValue/1000000000 | number : '1.2-2' }}</td>
        <td class="ar">{{p.totalValue/1000000000 | number : '1.2-2' }}</td>
        <td class="ar">{{p.cash/1000000000 | number : '1.2-2' }}</td>
        <td class="ar">{{p.numPrivate | number : '1.2-2' }}</td>
        <td class="ar">{{p.numPublic | number : '1.2-2' }}</td>
    </tr>
  </table>
</div>